
$green: #42AF4D;
$gold: #E1C7A1;
$blue: #2405F2;
$darkBlue: #110273;
$pink: #F2357B;
$text: #536889;
$text2: rgba(141, 172, 220, 0.35);
$white: #fff;
$balck: #000;
$white2: #E7F0FE;

$f18 :18px;
$f20 :20px;
$f23 :23px;
$f28 :28px;
$f32 :32px;
$f36 :36px;
$f40 :40px;
$f45 :45px;
$f190 :190px;

$gdGold:  linear-gradient(180deg, #CC9E58 0%, #E1C9A4 49.48%, #DEC49D 55.73%, #9E8258 98.44%);
$gdColor5: linear-gradient(108deg, #F2357B -1.7%, #0B13CD 41.16%);
$gdColor: linear-gradient(136deg, #F2357B -35.7%, #0B13CD 103.16%);
$gdColor2: linear-gradient(102deg, rgba(217, 217, 217, 0.47) -6.02%, rgba(217, 217, 217, 0.08) 104.21%);
$gdColor3: linear-gradient(246deg, #D1DDF0 35.62%, rgba(179, 195, 222, 0.00) 67.66%);
$gdColor4: linear-gradient(102deg, rgba(206, 213, 238, 0.47) -6.02%, rgba(87, 118, 225, 0.08) 104.21%);
$gdColorBody: linear-gradient(347deg, #CBDAF0 -9.09%, #F3F8FF 132.07%);
$gdColorBody2: linear-gradient(-170deg, #CBDAF0 -9.09%, #F3F8FF 132.07%);

