.hero-area{
    position: relative;
    .hero-bg{
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 20px;
        object-fit: cover;
        height: 220px;
        width: 100%;
    }
    .long{
        height: auto;
    }
    .hero_content{
        position: absolute;
        color: $white;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        span{
            font-size: 16px;
        }
        h1{
            font-size: 50px;
            margin: 30px 0;
        }
        p{
            max-width: 570px;
            margin-inline: auto;
            color: $white;
        }
    }

}

.hero-area{
    .hero-event-content {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &.position{
            position: absolute;
            bottom: 80px;
        }
        h1{
            color: $white;
            text-transform: uppercase;
        }
        
    }
}


.event_name{
    p{
        color: $white;
        font-size: $f28;
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
    }
    h1{
        color: $white !important;
    }
}